/*[ others elements ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * hun-element-social
 *
\*/
.hun-element-social--type-1 {
	letter-spacing: 8px;

	.social-link {
		font-size: 17px;
		color: $text-color-01;
		line-height: 1;
		letter-spacing: normal;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 39px;
		height: 39px;
		border-radius: 50%;
		background-color: #fff;
		transition: all .2s;

		&:hover {
			color: #fff;
			background-color: $main-color-01;
		}
	}
}