/*[ header ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * General
 *
\*/
.hun-header {
	position: relative;

	.transition-sticky {
		transition: all .5s;
	}

	&.style-sticky {
		&.fixed {
			.element-for-stick {
				position: fixed !important;
				z-index: 999;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;

				&.hide-header {
					transform: translateY(-105%);
				}
			}

			.wrapper-header {
				.logo-header {
					.main-logo {
						display: none;
					}

					.mobile-logo {
						display: none;
					}

					.sticky-logo {
						display: inline;
					}
				}
			}
		}
	}
	
	.wrapper-header {
		position: relative;

		.logo-header {
			.main-logo {
				display: inline;
			}

			.mobile-logo {
				display: none;
			}

			.sticky-logo {
				display: none;
			}

			img {
				max-height: 100px;
			}
		}

		.main-navigation {
			ul, ol, li {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			.list-menu {
				padding-top: 15px;

				& > li {
					display: inline-block;

					& > a {
						display: block;
						padding: 0px 20px 15px 20px;
						white-space: nowrap;
					}
				}

				li {
					position: relative;

					.sub-menu {
						background: #fff;
						transition: all 0.2s;
						position: absolute;
						z-index: 100;
						top: 100%;
						left: 0px;
						width: 200px;
						visibility: hidden;
						opacity: 0;
						pointer-events: none;

						.sub-menu {
							top: 0px;
							left: 100%;
						}

						li {
							a {
								display: block;
								padding: 5px 20px;
								transition: all .2s;
							}
						}
					}

					&:hover > .sub-menu {
						pointer-events: auto;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		.wrapper-header {
			.logo-header {
				.main-logo {
					display: none;
				}

				.mobile-logo {
					display: inline;
				}
			}

			.main-navigation {
				display: none;
			}
		}
	}

	.hun-menu-mobile {
		.logo-menu-mobile {
			display: none;
		}
	}
}

/*\
 *
 * Layout-1
 *
\*/
.hun-header.layout-1 {
	.wrapper-header {
		position: static;
		background-color: #fff;
		padding-top: 5px;
		padding-bottom: 5px;

		& > .container {
			position: relative;
			display: flex;
			align-items: center;
		}
		
		.logo-header {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 30px;

			.text-logo {
				font-weight: 800;
				font-size: 28px;
				line-height: 1;
				color: $title-color-01;
				vertical-align: middle;
				display: none;
			}
		}

		.main-navigation {
			padding: 0 15px;

			.list-menu {
				padding-top: 20px;

				& > li {
					vertical-align: middle;

					& > a {
						color: #888;
						font-weight: 700;
						font-size: 17px;
						line-height: 1.8;
						padding: 0px 18px 20px 18px;
						transition: all .2s;
					}

					&:hover,
					&.current-menu-parent,
					&.current_page_item,
					&.current-menu-item {
						& > a {
							color: $main-color-01;
						}
					}
				}

				li {
					.sub-menu {
						text-align: left;
						box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
						border-radius: 8px;
						padding: 10px 0px;

						.sub-menu {
							top: -11px;
						}

						li {
							a {
								font-weight: 700;
								font-size: 15px;
								line-height: 1.5;
								color: #999;
								padding: 8px 20px;
							}

							&:hover {
								& > a {
									color: $main-color-01;
								}
							}
						}
					}
				}
			}
		}

		.group-feature {
			flex-basis: 0;
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-left: 30px;

			& > * {
				margin-left: 30px;

				&:first-child {
					margin-left: 0;
				}
			}

			.buttons-header {
				letter-spacing: 10px;
				padding-top: 10px;
				padding-bottom: 10px;

				@media (max-width: 575px) {
					display: none;
				}
			}

			.hun-menu-mobile {
				.btn-toggle-menu {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 15px 10px;
					transition: all .2s;
					margin: 0px -10px;
					cursor: pointer;

					span {
						border-color: $title-color-01;

						&::before,
						&::after {
							background-color: $title-color-01;
						}
					}
				}
			}
		}
	}

	.transition-sticky {
		.main-navigation {
			.list-menu {
				transition: padding-top .2s ease-out;
			}
		}
	}

	&.use-text-logo {
		.wrapper-header {
			.logo-header {
				.text-logo {
					display: inline;
				}

				.main-logo,
				.mobile-logo,
				.sticky-logo {
					display: none !important;
				}
			}
		}
	}

	&.style-sticky {
		&.fixed {
			.wrapper-header {
				background-color: #fff;
				box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
			}

			&.scale-header {
				.wrapper-header {
					.main-navigation {
						.list-menu {
							padding-top: 20px;

							& > li {
								& > a {
									padding-bottom: 20px;
								}
							}
						}
					}
				}
			}
		}
	}

	&.style-overlay {
		z-index: 999;

		.wrapper-header {
			position: absolute;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			background-color: transparent;
			border-color: transparent;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&.style-sticky {
			&.fixed {
				.wrapper-header {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}

		&.text-light {
			.wrapper-header {
				.logo-header {
					.text-logo {
						color: #fff;
					}
				}

				.main-navigation {
					.list-menu {
						& > li {
							& > a {
								color: #fff;
								position: relative;

								&::after {
									content: '';
									display: block;
									width: 100%;
									height: 2px;
									margin-top: -2px;
									border-radius: 1px;
									background-color: #fff;
									transition: all .3s;
									transform: scaleX(0);
								}
							}

							&:hover,
							&.current-menu-parent,
							&.current_page_item,
							&.current-menu-item {
								& > a {
									&:after {
										transform: scaleX(1);
									}
								}
							}
						}
					}
				}

				.group-feature {
					.hun-menu-mobile {
						.btn-toggle-menu {
							span {
								border-color: #fff;

								&::before,
								&::after {
									background-color: #fff;
								}
							}
						}
					}
				}

			}

			&.style-sticky {
				&.fixed {
					.wrapper-header {
						background: $main-color-02;
						box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
					}
				}
			}
		}
	}

	&.align-center {
		.wrapper-header {
			.logo-header {
				flex-grow: 1;
				flex-basis: 0;
			}

			.main-navigation { 
				text-align: center;
			}
		}
	}

	&.align-right {
		.wrapper-header {
			.logo-header {
				flex-grow: 1;
				flex-basis: 0;
			}

			.main-navigation { 
				text-align: right;
			}

			.group-feature {
				flex-basis: auto;
				flex-grow: 0;
			}
		}
	}

	@media (max-width: 1199px) {
		.wrapper-header {
			.main-navigation {
				.list-menu {
					& > li {
						& > a {
							padding: 0px 15px 20px 15px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.wrapper-header {			
			.logo-header {
				padding-right: 20px !important;
				min-width: 0px;
			}
		}
	}
}