

$main-font-01: Nunito;

$main-color-01: #555cf5;
$main-color-01-R: 85;
$main-color-01-G: 92;
$main-color-01-B: 245;

$main-color-02: #1d2a3b;
$main-color-02-R: 29;
$main-color-02-G: 42;
$main-color-02-B: 59;

$title-color-01: #2c3038;
$title-color-01-R: 44;
$title-color-01-G: 48;
$title-color-01-B: 56;

$text-color-01: #555a64;





