/*[ hun-section-archive-blog ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout 1
 *
\*/
.hun-section-archive-blog.layout-1 {
	.inner-section {
		.content-sec {
			padding-right: 30px;

			.loop-pagination {
				padding-bottom: 0;
			}

			@media (max-width: 991px) {
				padding-right: 0 !important;
				padding-left: 0 !important;
				padding-bottom: 100px;
			}
		}
	}

	.hun-element-post--type-1 {
		margin-bottom: 50px;
	}

	&.sidebar-left {
		.inner-section {
			& > .container > .row {
				flex-direction: row-reverse;
			}

			.content-sec {
				padding-right: 0px;
				padding-left: 30px;
			}
		}
	}

	&.no-sidebar {
		.inner-section {
			.col-content {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}

			.col-sidebar {
				display: none;
			}

			.content-sec {
				padding-right: 0px;
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}

	&.img-full {
		.hun-element-post--type-1 {
			.pic-post {
				img {
					width: 100%;
				}
			}
		}
	}
}



/*\
 *
 * Layout 2
 *
\*/
.hun-section-archive-blog.layout-2 {
	.inner-section {
		.content-sec {
			padding-right: 30px;

			.loop-pagination {
				padding-bottom: 0;
			}

			@media (max-width: 991px) {
				padding-right: 0 !important;
				padding-left: 0 !important;
				padding-bottom: 100px;
			}
		}
	}

	.col-content {
		.col,
		[class*="col-"] {
			padding-bottom: 30px;
		}

		.list-post {
			padding-bottom: 20px;
		}
	}

	&.sidebar-left {
		.inner-section {
			& > .container > .row {
				flex-direction: row-reverse;
			}

			.content-sec {
				padding-right: 0px;
				padding-left: 30px;
			}
		}
	}

	&.no-sidebar {
		.inner-section {
			.col-content {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}

			.col-sidebar {
				display: none;
			}

			.content-sec {
				padding-right: 0px;
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}

	&.img-full {
		.hun-element-post--type-1 {
			.pic-post {
				img {
					width: 100%;
				}
			}
		}
	}
}