/*[ page-title ]
//////////////////////////////////////////////////////////////////*/


/*\
 *
 * Layout 1
 *
\*/
.hun-section-page-title.layout-1 {
    &.hide-breadcrumbs {
        .main-title {
            margin-bottom: 0;
        }
        
        .breadcrumbs {
            display: none !important;
        }
    }
    
	.inner-section {
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		z-index: 0;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			background-color: $main-color-02;
			opacity: .85;
		}

		.bg-img {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
		}
	}

	.container {
		padding-top: 220px;
		padding-bottom: 180px;
	}

	.main-title {
		font-weight: 700;
		font-size: 62px;
		line-height: 1.1;
		color: #fff;
		word-break: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-height: calc(1.1 * 2em);
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.breadcrumbs {
		list-style-type: none;
		padding: 0;
		margin: 0 -6px;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			color: #fff;
			word-break: break-word;
			display: inline-block;
			position: relative;
			margin: 0 6px;

			.breadcrumb-divider {
				transform: translateX(6px);
				display: inline-block;

				&::before {
					content: '/';
				}
			}

			a {
				color: inherit;
				transition: all .2s;

				&:hover {
					color: $main-color-01;
				}
			}
		}
	}

	@media (max-width: 1199px) {
		.main-title {
			font-size: 50px;
		}
	}

	@media (max-width: 575px) {
		.main-title {
			font-size: 39px;
			line-height: 1.2;
		}
	}
}
