/*[ hun-section-pricing-plans ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout 1
 *
\*/
.hun-section-pricing-plans.layout-1 {
	.col,
	[class*="col-"] {
		padding-bottom: 30px;
	}

	.item-pricing {
		height: 100%;
		border-radius: 10px;
		box-shadow: 6px 8px 20px 0px rgba(0, 0 ,0, 0.1);
		background-color: #fff;
		position: relative;
		z-index: 0;
		overflow: hidden;
		transition: all .3s ease-in-out;

		.head-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			padding: 40px 30px 40px 30px;
			border-bottom: 1px solid #ddd;

			.title-pricing {
				font-weight: 700;
				font-size: 24px;
				line-height: 1.3;
				color: $main-color-01;
				margin-bottom: 11px;
			}

			.price-pricing {
				font-weight: 700;
				font-size: 69px;
				line-height: 1.1;
				color: $title-color-01;

				.currency {
					font-size: 30px;
					vertical-align: super;
					margin-right: 5px;
				}
			}

			.label-pricing {
				display: block;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.5;
				color: #fff;
				text-align: center;
				background: $main-color-01;
				border-radius: 18px;
				position: relative;
				margin: 40px auto -56px auto;
				padding: 5px 25px;
			}
		}

		.body-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			padding: 40px 30px 40px 30px;

			.list-options {
				list-style: none;
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0;

				li {
					font-weight: 700;
					color: $title-color-01;
					text-align: center;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}

					&::before {
						content: '\f121';
						font-family: Ionicons;
						color: $main-color-01;
						margin-right: 10px;
					}

					&.no {
						opacity: .5;

						&::before {
							content: '\f129';
							color: red;
						}
					}
				}
			}
		}

		.buttons-pricing {
			text-align: center;
			background-color: #fff;
			padding: 0px 30px 40px 30px;

			.button {
				font-weight: 700;
				font-size: 16px;
				line-height: 1.6;
				color: $main-color-01;
				border: 2px solid rgba($main-color-01-R,$main-color-01-G,$main-color-01-B,.5);
				background-color: transparent;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				border-radius: 25px;
				max-width: 100%;
				min-width: 180px;
				padding: 0 38px;
				transition: all .2s;

				&:hover {
					background-color: $main-color-02;
					border-color: $main-color-02;
					color: #fff;
				}
			}
		}

		&.feature-item {
			padding-top: 8px;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				background-color: $main-color-01;
			}

			.head-item {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;

				&::after {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}

			.buttons-pricing {
				.button {
					color: #fff;
					background-color: $main-color-01;

					&:hover {
						background-color: $main-color-02;
						border-color: $main-color-02;
						color: #fff;
					}
				}
			}
		}

		&:hover {
			transform: translateY(-8px);
		}
	}
}