/*[ hun-section-image-text ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * Layout 1
 *
\*/
.hun-section-image-text.layout-1 {
	.col-pic {
		@media (min-width: 1200px) {
			padding-right: 50px;
		}
	}

	.col-text {
		@media (min-width: 992px) {
			padding-left: 50px;
			padding-right: 65px;
		}
	}

	.pic-sec {
		position: relative;
		z-index: 0;
		padding-left: 50px;
		padding-bottom: 50px;
		
		&::before {
			content: '';
			display: block;
			width: calc(100% - 50px);
			height: calc(100% - 50px);
			position: absolute;
			z-index: -1;
			bottom: 0;
			left: 0; 
			background-color: $main-color-01;
			opacity: .06;
			border-radius: 10px;
		}

		.inner-pic {
			overflow: hidden;
			border-radius: 10px;

			img {
				width: 100%;
			}
		}

		@media (max-width: 991px) {
			margin-bottom: 69px;
			padding-left: 0px;
			padding-right: 50px;

			&::before {
				left: auto;
				right: 0;
			}
		}

		@media (max-width: 575px) {
			padding-left: 0px;
			padding-right: 30px;
			padding-bottom: 30px;

			&::before {
				width: calc(100% - 30px);
				height: calc(100% - 30px);
			}
		}
	}

	.heading-sec {
		margin-bottom: 30px;

		.title-sec {
			font-weight: 700;
			font-size: 35px;
			line-height: 1.2;
			margin-bottom: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.normal-list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -20px;

		li {
			font-weight: 700;
			color: $title-color-01;
			font-size: 18px;
			line-height: 1.5;
			position: relative;
			margin-bottom: 20px;
			padding-left: 47px;
			padding-right: 15px;

			&::before {
				font-weight: 700;
				content: '\f375';
				font-family: Ionicons;
				font-size: 22px;
				color: $main-color-01;
				position: absolute;
				top: -3px;
				left: 15px;
			}
		}
	}

	.symbol-list {
		.item-list {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}

			.icon-item {
				font-size: 45px;
				line-height: 1;
				color: $main-color-01;
				width: 69px;
			}

			.text-item {
				width: calc(100% - 69px);

				.title-item {
					font-weight: 700;
					font-size: 24px;
					line-height: 1.3;
				}

				.description-item {
					max-width: 400px;
				}
			}
		}

		&.size-small {
			.item-list {
				margin-bottom: 45px;

				&:last-child {
					margin-bottom: 0;
				}

				.icon-item {
					font-size: 40px;
					width: 58px;
				}

				.text-item {
					width: calc(100% - 58px);

					.title-item {
						font-size: 20px;
					}
				}
			}
		}
	}

	.accordion-list {
		.item-list {
			position: relative;
			z-index: 0;
			border-radius: 10px;
			background: #fff;
			box-shadow: 6px 8px 20px 0px rgba(0, 0 ,0, 0.1);
			padding: 0px 30px;
			transition: all .2s;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			.title-item {
				font-weight: 700;
				font-size: 18px;
				line-height: 1.3;
				word-break: break-word;
				padding: 25px 30px 25px 0;
				position: relative;
				cursor: pointer;
				margin-bottom: 0;
				transition: all .2s;

				&:hover {
					color: $main-color-01;
				}

				&::after {
					content: '\f48a';
					font-family: Ionicons;
					font-size: 20px;
					line-height: 1;
					position: absolute;
					top: 50%;
					right: 0px;
					transform: translateY(-50%);
				}
			}

			.description-item {
				word-break: break-word;
				padding-bottom: 35px;
			}

			&.active-dropdown .title-item {
				color: $main-color-01;

				&::after {
					content: '\f463';
				}
			}
		}
	}

	.counter-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: -8px;

		.item-counter {
			padding: 12px 20px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 6px 8px 20px 0px rgba(0, 0 ,0, 0.1);
			margin: 8px;

			.number-counter {
				font-weight: 700;
				font-size: 30px;
				line-height: 1.5;
				color: $main-color-01;
			}

			.description-counter {
				font-weight: 700;
				color: $title-color-01;
			}
		}
	}

	&.style-2 {
		.pic-sec {
			&::before {
				width: 100% !important;
				height: 100% !important;
				border-top-left-radius: 30%;
				border-bottom-right-radius: 30%;
				border-bottom-left-radius: 20px;
				border-top-right-radius: 20px;
			}

			.inner-pic {
				border-top-left-radius: 20%;
				border-bottom-right-radius: 20%;
				border-bottom-left-radius: 20px;
				border-top-right-radius: 20px;
			}

			@media (max-width: 991px) {
				&::before {
					border-top-left-radius: 20px;
					border-bottom-right-radius: 20px;
					border-bottom-left-radius: 30%;
					border-top-right-radius: 30%;
				}

				.inner-pic {
					border-top-left-radius: 20px;
					border-bottom-right-radius: 20px;
					border-bottom-left-radius: 20%;
					border-top-right-radius: 20%;
				}
			}
		}
	}

	&.reverse {
		.row-sec {
			flex-direction: row-reverse;
		}

		.col-pic {
			@media (min-width: 1200px) {
				padding-right: 15px;
				padding-left: 50px;
			}
		}

		.col-text {
			@media (min-width: 992px) {
				padding-left: 65px;
				padding-right: 50px;
			}
		}

		.pic-sec {
			padding-left: 0px;
			padding-right: 50px;

			&::before {
				left: auto;
				right: 0;
			}

			@media (max-width: 575px) {
				padding-left: 0px;
				padding-right: 30px;
			}
		}

		&.style-2 {
			.pic-sec {
				&::before {
					border-top-left-radius: 20px;
					border-bottom-right-radius: 20px;
					border-bottom-left-radius: 30%;
					border-top-right-radius: 30%;
				}

				.inner-pic {
					border-top-left-radius: 20px;
					border-bottom-right-radius: 20px;
					border-bottom-left-radius: 20%;
					border-top-right-radius: 20%;
				}
			}
		}
	}

	&.simple-image {
		.pic-sec {
			padding-bottom: 0px !important;

			&::before {
				display: none;
			}

			.inner-pic {
				overflow: visible;
				border-radius: 0px !important;

				img {
					width: auto;
					max-width: 100%;
				}
			}

			@media (max-width: 991px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}

		&.reverse {
			.pic-sec {
				.inner-pic {
					text-align: right;
				}
			}
		}
	}
}


/*\
 *
 * Layout 2
 *
\*/
.hun-section-image-text.layout-2 {
	.col-text {
		padding-left: 50px;
	}

	.col-pic {
		padding-right: 50px;
	}

	.wrap-nav-hun-tab {
		margin-bottom: 50px;

		.nav-hun-tab {
			list-style-type: none;
			padding: 0;
			margin: -8px;
			display: flex;
			flex-wrap: wrap;

			li {
				cursor: pointer;
				font-weight: 700;
				color: $main-color-01;
				border: 2px solid rgba($main-color-01-R, $main-color-01-G, $main-color-01-B, 0.5);
				padding: 6px 20px;
				border-radius: 21px;
				margin: 8px;
				transition: all .2s;

				&:hover,
				&.active {
					background-color: $main-color-01;
					border-color: $main-color-01;
					color: #fff;
				}
			}
		}
	}

	.text-sec {
		.heading-sec {
			margin-bottom: 30px;

			.title-sec {
				font-weight: 700;
				font-size: 35px;
				line-height: 1.2;
				margin-bottom: 22px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.normal-list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: -20px;

			li {
				font-weight: 700;
				color: $title-color-01;
				font-size: 18px;
				line-height: 1.5;
				position: relative;
				margin-bottom: 20px;
				padding-left: 47px;
				padding-right: 15px;

				&::before {
					font-weight: 700;
					content: '\f375';
					font-family: Ionicons;
					font-size: 22px;
					color: $main-color-01;
					position: absolute;
					top: -3px;
					left: 15px;
				}
			}
		}

		.symbol-list {
			.item-list {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				margin-bottom: 50px;

				&:last-child {
					margin-bottom: 0;
				}

				.icon-item {
					font-size: 45px;
					line-height: 1;
					color: $main-color-01;
					width: 69px;
				}

				.text-item {
					width: calc(100% - 69px);

					.title-item {
						font-weight: 700;
						font-size: 24px;
						line-height: 1.3;
					}

					.description-item {
						max-width: 400px;
					}
				}
			}

			&.size-small {
				.item-list {
					margin-bottom: 45px;

					&:last-child {
						margin-bottom: 0;
					}

					.icon-item {
						font-size: 40px;
						width: 58px;
					}

					.text-item {
						width: calc(100% - 58px);

						.title-item {
							font-size: 20px;
						}
					}
				}
			}
		}

		.accordion-list {
			.item-list {
				position: relative;
				z-index: 0;
				border-radius: 10px;
				background: #fff;
				box-shadow: 6px 8px 20px 0px rgba(0, 0 ,0, 0.1);
				padding: 0px 30px;
				transition: all .2s;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				.title-item {
					font-weight: 700;
					font-size: 18px;
					line-height: 1.3;
					word-break: break-word;
					padding: 25px 30px 25px 0;
					position: relative;
					cursor: pointer;
					margin-bottom: 0;
					transition: all .2s;

					&:hover {
						color: $main-color-01;
					}

					&::after {
						content: '\f48a';
						font-family: Ionicons;
						font-size: 20px;
						line-height: 1;
						position: absolute;
						top: 50%;
						right: 0px;
						transform: translateY(-50%);
					}
				}

				.description-item {
					word-break: break-word;
					padding-bottom: 35px;
				}

				&.active-dropdown .title-item {
					color: $main-color-01;

					&::after {
						content: '\f463';
					}
				}
			}
		}

		.counter-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin: -8px;

			.item-counter {
				padding: 12px 20px;
				border-radius: 8px;
				background-color: #fff;
				box-shadow: 6px 8px 20px 0px rgba(0, 0 ,0, 0.1);
				margin: 8px;

				.number-counter {
					font-weight: 700;
					font-size: 30px;
					line-height: 1.5;
					color: $main-color-01;
				}

				.description-counter {
					font-weight: 700;
					color: $title-color-01;
				}
			}
		}
	}

	.pic-sec {
		img {
			max-width: 100%;
		}
	}

	&.reverse {
		.row-sec {
			flex-direction: row-reverse;
		}

		.col-text {
			padding-left: 15px;
			padding-right: 50px;
		}

		.col-pic {
			padding-right: 15px;
			padding-left: 50px;
		}

		@media (max-width: 1299px) {
			.col-pic {
				padding-left: 15px;
			}
		}

		@media (max-width: 991px) {
			.col-text {
				padding-right: 15px;
			}
		}
	}

	@media (max-width: 1299px) {
		.col-pic {
			padding-right: 15px;
		}
	}

	@media (max-width: 991px) {
		.col-pic {
			padding-bottom: 80px;
		}

		.col-text {
			padding-left: 15px;
		}
	}
}