/*[ footer ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * layout-1
 *
\*/
.hun-footer.layout-1 {
	background-color: $main-color-02;

	.action-footer {
		padding-top: 120px;
		padding-bottom: 130px;
		position: relative;
		z-index: 0;
		overflow: hidden;

		&::before {
			content: '';
			display: block;
			width: 150%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			opacity: .06;
			border-top-left-radius: 0;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			border-top-right-radius: 0;

			@media (max-width: 991px) {
				width: 230%;
			}

			@media (max-width: 575px) {
				width: 260%;
			}
		}

		.subscribe-form-02 {
			width: 690px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;

			form {
				display: flex;
				flex-wrap: wrap;
				background-color: #fff;
				overflow: hidden;
				height: 60px;
				padding: 5px;
				border-radius: 30px;
				margin: 0;

				input {
					color: $text-color-01;
					display: block;
					height: 50px;
					flex-grow: 1;
					flex-basis: 0;
					min-width: 1px;
					border: none;
					background: #fff;
					border-radius: 25px;
					padding: 0px 25px;
					margin: 0;

					&::-webkit-input-placeholder { color: #999;}
					&:-moz-placeholder { color: #999;}
					&::-moz-placeholder { color: #999;}
					&:-ms-input-placeholder { color: #999;}

					&:-webkit-autofill,
					&:-webkit-autofill:hover,
					&:-webkit-autofill:focus,
					&:-webkit-autofill:active {
						-webkit-text-fill-color: $text-color-01 !important;
						transition: background-color 5000s ease-in-out 0s;
					}
				}

				button {
					font-weight: 700;
					line-height: 50px;
					color: #fff;
					text-align: center;
					white-space: nowrap;
					display: block;
					border: none;
					overflow: hidden;
					padding: 0px 30px;
					border-radius: 25px;
					background-color: $main-color-01;
					transition: all .2s;
					margin: 0;

					&:hover {
						background-color: $main-color-02;
					}
				}

				@media (max-width: 480px) {
					input {
						padding: 0px 15px;
					}

					button {
						padding: 0px 20px;
					}
				}
			}
		}
	}

	.content-footer {
		color: #b9b9b9;
		word-break: break-word;
		padding-top: 125px;
		padding-bottom: 50px;

		h1,h2,h3,h4,h5,h6 {
			font-weight: 700;
			color: #fff;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		a {
			color: inherit;

			&:hover {
				color: #fff;
			}
		}

		.col,
		[class*="col-"] {
			padding-bottom: 60px;
		}

		.widget {
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}

			.title-widget {
				font-weight: 700;
				font-size: 22px;
				line-height: 1.3;
				word-break: break-word;
				margin-bottom: 28px;
			}
		}

		.hun-element-social--type-1 {
			.social-link {
				color: $text-color-01;
				background-color: #fff;

				&:hover {
					color: #fff;
					background-color: $main-color-01;
				}
			}
		}

		.subscribe-form-01 {
			background-color: rgba(255, 255, 255, .06);
			border-radius: 8px;
			padding: 30px 30px;

			.description-form {
				color: #fff;
				margin-bottom: 8px;
			}

			form {
				display: flex;
				flex-wrap: wrap;
				margin: 0px -3px;

				input {
					color: $text-color-01;
					display: block;
					height: 50px;
					flex-grow: 1;
					flex-basis: 100px;
					border: none;
					background: #fff;
					border-radius: 5px;
					padding: 0px 15px;
					margin: 8px 3px;

					&::-webkit-input-placeholder { color: #999;}
					&:-moz-placeholder { color: #999;}
					&::-moz-placeholder { color: #999;}
					&:-ms-input-placeholder { color: #999;}

					&:-webkit-autofill,
					&:-webkit-autofill:hover,
					&:-webkit-autofill:focus,
					&:-webkit-autofill:active {
						-webkit-text-fill-color: $text-color-01 !important;
						transition: background-color 5000s ease-in-out 0s;
					}
				}

				button {
					font-weight: 700;
					line-height: 50px;
					color: #fff;
					text-align: center;
					white-space: nowrap;
					display: block;
					border: none;
					overflow: hidden;
					padding: 0px 18px;
					border-radius: 5px;
					background-color: $main-color-01;
					transition: all .2s;
					margin: 8px 3px;

					&:hover {
						background-color: #fff;
						color: $main-color-01;
					}
				}
			}

			.note-form {
				color: #b9b9b9;
				font-size: 0.85rem;
				font-style: italic;
				padding-top: 6px;
				opacity: .6;
			}

			@media (max-width: 480px) {
				padding: 30px 15px;
			}
		}
	}

	.copyright-footer {
		font-size: 15px;
		color: #999;
		line-height: 1.8;
		text-align: center;
		word-break: break-word;

		.content-copyright {
			border-top: 1px solid rgba(255, 255, 255, .1);
			padding-top: 22px;
			padding-bottom: 22px;
			display: flex;
			justify-content: space-between;
			margin: 0px -15px;

			.col-left,
			.col-right {
				padding: 0px 15px;
			}
			
			.col-left {
				text-align: left;
			}

			.col-right {
				text-align: right;
			}

			@media (max-width: 767px) {
				flex-direction: column;
				justify-content: center;

				.col-left,
				.col-right {
					text-align: center;
				}
			}
		}

		a {
			font-weight: 700;
			color: #ccc;

			&:hover {
				color: #fff;
			}
		}
	}

	&.style-light {
		background-color: rgba($main-color-01-R, $main-color-01-G, $main-color-01-B, .05);
		
		.action-footer {
			&::before {
				background-color: $main-color-02;
				opacity: 1;
			}
		}

		.content-footer {
			color: $text-color-01;

			h1,h2,h3,h4,h5,h6 {
				color: $title-color-01;
			}

			a {
				&:hover {
					color: $main-color-01;
				}
			}

			.hun-element-social--type-1 {
				.social-link {
					color: #fff;
					background-color: $main-color-02;

					&:hover {
						background-color: $main-color-01;
					}
				}
			}

			.subscribe-form-01 {
				background-color: $main-color-02;
			}
		}

		.copyright-footer {
			color: $text-color-01;

			.content-copyright {
				border-color: #ddd;
			}
		
			a {
				color: $title-color-01;
		
				&:hover {
					color: $main-color-01;
				}
			}
		}
	}
}