/*[ back-to-top ]
//////////////////////////////////////////////////////////////////*/

.btn-back-to-top {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	bottom: 15px;
	right: 15px;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;

	& {
		background-color: darken($main-color-02, 2%);

		&:hover {
			background-color: $main-color-01
		}
	}

	.symbol-btn {
		font-size: 15px;
		line-height: 1;
		color: #fff;
		display: block;
		padding-bottom: 2px;

		&::before {
			content: '\f126';
			font-family: Ionicons;
		}
	}

	&.active-btn {
		visibility: visible;
		opacity: 1;
	}

	&.hidden-btn {
		transform: scale(0);
		visibility: hidden;
		opacity: 0;
	}

	@media (max-width: 991px) {
        & {
            width: 39px;
            height: 39px;
            right: 10px;
            bottom: 10px;

            .symbol-btn {
            	font-size: 13px;
            }
        }
    }
}



